node_modules
yarn.lock
dist.web
private
**/private
**/data
**/backup
packages/devops/nginx/backup.sh
packages/devops/nginx/letsencrypt-nginx.conf
packages/devops/nginx/old-ec2/
packages/rp2/app.log
packages/devops/data/**
**/docker.log
packages/cli/**
**.conf
.vscode/settings.json
**/history